@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --primary-blue: hsl(179, 62%, 43%);
    --secundary-blue: hsl(179, 47%, 52%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
    color: var(--light-gray);
}

.container {
    width: 375px;
    margin: 1.5rem auto;
    border: .1rem solid black;
}

.box1 {
    width: 320px;
    height: 320px;
    margin: 0 auto;
}

.box2 {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    background-color: hsl(179, 62%, 43%);
}

.box3 {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    background-color: hsl(179, 47%, 52%);
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }