@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --primary-blue: hsl(179, 62%, 43%);
    --secundary-blue: hsl(179, 47%, 52%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

html {
    
    font-size: 62.5%; /*1rem = 10px*/   
}
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
  /*   font-weight: 400; */
    background-color: var(--light-gray);
    color: var(--light-gray);
}

.container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    width: 100%;
    height: 95vh;
} 

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'box1'
        'box2'
        'box3'
        ;
}

.box1 {
    grid-area: box1;
    width: 360px; 
    margin: 0 auto;
    padding: 2.5rem;
    background-color: #fff;
    border-radius: 1rem 1rem 0 0;
    font-weight: 700;
    line-height: 1.5;
    color: var(--grayish-blue);
}
.box1 h2 {
    padding-bottom: 1rem;
    color: var(--primary-blue);
}
.box1 h3 {
    padding: 1rem 0;
    color: var(--bright-yellow);
}
.box1 p {
    padding-top: 1rem;
    font-weight: 400;
    line-height: 1.8;
}


.box2 {
    grid-area: box2;
    width: 360px; 
    margin: 0 auto;
    padding: 2.5rem;
    background-color: hsl(179, 62%, 43%);
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
}
.box2 h2 {
    margin-bottom: 1rem;
}
#price {
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 700;
    
}
#price span {
    font-size: 1.6rem;
    font-weight: 400;
    vertical-align: middle;
    color: var(--light-gray);
}
.box2 p {
    font-size: 1.8rem;
    font-weight: 400;
}
.box2 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 6rem;
    margin: 3rem 0px;
    font-size: 2rem;
    font-weight: 700;
    background-color: var(--bright-yellow);
    box-shadow: 0px 0px 7px 2px rgba(61, 60, 60, 0.29);
    border: none;
    border-radius: .5rem;
    color: #fff;
}


.box3 {
    grid-area: box3;
    width: 360px; 
    margin: 0 auto;
    padding: 2.5rem;
    background-color: hsl(179, 47%, 52%);
    border-radius: 0rem 0rem 1rem 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #fff;
}
.box3 h2 {
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.box3 p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--light-gray);
}


.attribution {
    margin-top: 15rem;
    font-size: 11px; 
    text-align: center;
    color: #030303; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
} 

@media (min-width: 768px) {
    .container {
        /* flex-direction: row; */
        margin: 0 auto;
    }
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
        'box1 box1'
        'box2 box3';
        width: 50%;
    }
    .box1 {
        grid-area: box1; 
        /* flex-basis: 1; */
        width: 100%;
        padding: 3rem 10rem 3rem 4rem;
    }
    .box2 {
        grid-area: box2;
        width: 100%;

        padding: 2.5rem 2.5rem 2.5rem 4rem;
        border-radius: 0 0 0 1rem;
    }
    .box2 button {
        width: 100%;
    }
    .box3 {
        grid-area: box3;
        width: 100%;

        padding: 2.5rem 2.5rem 2.5rem 4rem;
        border-radius: 0 0 1rem 0;
    }
    .box3 h2 {
        margin-top: 0;
    }
    .attribution {
        margin: 0 auto;
    }
}